# ======
# Desktop greeter file for Dotfile Lightdm greeter
# ======

[Desktop Entry]
Name=DotFive Greeter
Comment=DotFive LightDM Greeter
Exec=G_MESSAGES_DEBUG=all lightdm-dotfive-greeter
Type=Application